@{
    ViewBag.Title = "Кіноафіша";
}
@*@section featured {*@
    <section class="featured">
        <div class="content-wrapper">
           
         
         
            @Html.Action("Index","Films")
            
        </div>
    </section>
@*}*@
