@{
    ViewBag.Title = "Moderator Panel";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
   @* <h2>@ViewBag.Message</h2>*@

</hgroup>
<br />
    <h2>@Html.ActionLink("Коментарі користувачів","Index","UserComments")</h2>
<h2>ОБОВ'ЯЗКИ МОДЕРАТОРА</h2>
    <h3>Підтримувати порядок та чистоту на порталі:</h3>
<ul>
    <li>якщо учасник форуму використовує в своїх повідомленнях нецензурну лексику або флуд, то модератор повинен попередити його про порушення через систему "Особистих повідомлень" і видалити повідомлення з теми.</li>
    <li>якщо учасник проігнорував повідомлення модератора і продовжує інтенсивно писати аналогічні повідомлення, модератор повинен повідомити про це адміністратора, який в свою чергу знищить нік користувача-порушника назавжди.</li>
    <li>редагувати та видаляти повідомленняінших користувачів. </li>
</ul>
